DB_HOST=postgres
DB_PORT=5432
DB_NAME=app_db
DB_USER=root
DB_PASSWORD=rootAbC123
TOKEN_API=QaNNPZXWsstdQmivkdfPJ0uzj4qHwvnp
ALLOW_DOC=True
DB_LOG=True
SECRET_KEY=xxxxxxxx23123ewjrkbxs23o13ndfbhqw
TOKEN_EXPIRE=30
